<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8">
    <link rel="apple-touch-icon" sizes="180x180" href="imgs/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="imgs/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="imgs/favicon-16x16.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="manifest" href="/site.webmanifest">
    <!--link rel="shortcut icon" type="image/x-icon" href="imgs/favicon.ico" -->
    <!-- thanks to https://favicon.io/ -->
    <link rel="stylesheet" href='css/codemirror.css'>
    <link rel="stylesheet" href='css/neat.css'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Libre+Baskerville|Roboto:700,500,300|Roboto+Condensed">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <title>{{ page.title }}</title>

  </head>

  <body>
    <div id="column">
      <div class="header">
        <a href="{{ site.url }}/{{ site.baseurl }}"><img class="logo" src="imgs/logoCC.png"></a>
        <a href="{{ site.url }}/{{ site.baseurl }}"><div class="title">Coding Club for girls</div></a>
      </div>
      <div class="content">
        {{content}}
      </div>
    </div>
    <script src="https://unpkg.com/@webcomponents/custom-elements@1.2.0/custom-elements.min.js"></script>
    <script src="scripts/codemirror.js"></script>
    <script src="scripts/codemirrorsql.js"></script>
    <script src="scripts/autorefresh.js"></script>
    <script src="scripts/main_de.js"></script>
    <script defer> 
      loadData('{{ page.dbFile }}');
    </script>
  </body>
</html>
